body{
    margin: 0;
    padding: 0;
    background: #fff;
}

nav{
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin-left: auto;
    padding: 2em;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

nav img {
    height: 20px;
}

main{
    width: 50px;
    margin: 1em auto;
    text-align: center;
    top: 50%;
    left: 50%;
    justify-content: center;
}

.google{
    width: 400px;
    position: relative;
    top: -100px;
    margin-top: 5em;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.searchb{
    width: 500px;
    height: 45px;
    position: absolute;
    transform: translate(-20%,-50%);
    margin: auto;
    padding: 0;
    top: 50%;
    justify-content: center;
}

input[type="text"]{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #d5d4d4;
    left: 0;
    border-radius: 50px;
    padding: 0 40px 0 45px;
    outline: none;
    box-shadow: 0 2px 10px -7px #000;
    font-size: 16px;
    font-family: noto sans hk;
    margin: auto;
}

.searchicon{
    position: absolute;
    z-index: 1;
    font-size: 21px;
    top: 13px;
    left: 18px;
    color: #777;
}

.mic{
    position: absolute;
    width: 13px;
    right: -65px;
    top: 13px;
}

.sbutton{
    position: relative;
    top: -155px;
    text-align: center;
    display: flex;
}

input[type="button"]{
    background: #ebe8e8;
    border: none;
    padding: 8px 20px;
    margin: 10px;
    color: #4e4d4d;
    border-radius: 5px;
    outline: none;
    top: 0;
}

input[type="button"]:hover{
    background: #ede8e8;
    color: #000;
    box-shadow: 0 0 2px #000;
}



footer{
    background: rgb(247, 245, 245);
    margin: -4.8em auto;
    font-size: 16px;
}

.footer_top{
    padding: 1em;
    top: 50%;
}

.footer_bottom{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
}

.left{
    margin-right: 1em;
}

.right a{
    margin-right: 1em;
}